.projectcontainer {
    /* display:flex;
    flex-wrap: wrap;
    align-items: center;*/

    margin-top: 5em;
    background-color: pink;
    width: 100%;
}
.resume-container {
    margin-left: 5%;
    margin-top:3%;
}
.contactform {
    margin: 5% 5% 5% 5%;

}

.projectcard {
margin: 3rem;

}
.header{
    display:flex;
    align-items: space-between;
    justify-content: space-evenly;
    font-family:monospace;
    background-color: azure;
    padding-top: 3%;
    padding-bottom: 3%;

}
.portfol {
    margin: 7%;
    align-items: center;
}
.portfoliocontainer{
    background-image: url("/Users/suchayaosatis/Desktop/react-portfolio/public/rose.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 100vh;
}
body{
    min-height: 100vh;
}
.wholepage {
    background-image: url("/Users/suchayaosatis/Desktop/react-portfolio/public/rose.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 100vh;

}
p {
    line-height: 190%;
}

.aboutmecontainer {
    margin: 8%;
    margin-left:15%;
    margin-right:15%;
   
}
.nav-tabs {
    display: flex;
    justify-content: flex-end
    ;
}
.footer{
    margin-top:auto;
    bottom: 0;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.avatar{
    border-radius: 15px;
    display: block;
    margin: auto;
    margin-bottom: 4%;
    box-shadow: 10px 5px 5px rgb(57, 51, 55);
}
